.my-segment {
    margin-bottom: 11px !important;
}
main{
    padding-top: 0 !important;
}
.list-bg{
    margin-bottom: 7px !important;
}
ion-icon {
    font-size: 24px;
}

ion-content {
    // --background: auto;
    --background: var(--ion-color-secondary);
}
