<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item class='bg-none' lines='none'>
      <ion-buttons color="light" size="small" slot="start">
        <ion-icon name="chevron-back" color="light" slot="start" (click)="closeModal()"></ion-icon>
      </ion-buttons>
      <ion-label class="ion-text-center" color='light'>{{topTitle}}
      </ion-label>
      <ion-icon  name="none" slot="end" color="light" size="small"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="saveUser(f)">
    <ion-grid class='main-grid'>
      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label"> First Name* </ion-label>
          <ion-input
            required
            minlength="3"
            maxlength="200"
            name="firstName"
            [(ngModel)]="frmData.usr_firstname"
            ngModel
            #jobTitleCtrl="ngModel"
            class="input"
            id="firstName"
            type="text"
            placeholder="First Name?"
            value="{{frmData.usr_firstname}}"
          >
          <!-- </ion-input>
          <ion-input style="background: white"
          value="2020-10-09"
          name="userDueDate"
          [(ngModel)]="frmData.usr_due_date"
          ngModel
          #jobTitleCtrl="ngModel"
          class="input"
          id="userDueDate"
          type="hidden"
        > -->
         </ion-input>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label">Last Name*</ion-label>
            <ion-input
              class="input"
              required
              type="text"
              minlength="1"
              maxlength="40"
              name="lastName"
              ngModel
              #searchTagCtrl="ngModel"
              [(ngModel)]="frmData.usr_lastname"
              placeholder="Last Name?"
              value="{{frmData.usr_lastname}}"
            >
            </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label"> User Name* </ion-label>
          <ion-input
            required
            minlength="1"
            maxlength="40"
            min= 1
            max = 105
            name="userName"
            [(ngModel)]="frmData.usr_username"
            ngModel
            #pkgNameCtrl="ngModel"
            class="input"
            id="userName"
            type="text"
            placeholder="User Name"
            value="{{frmData.usr_username}}"
          >
          </ion-input>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label"> User Email* </ion-label>
          <ion-input
            required
            minlength="5"
            maxlength="40"
            name="UserEmail"
            [(ngModel)]="frmData.usr_email"
            ngModel
            #pkgDescriptionCtrl="ngModel"
            class="input"
            id="UserEmail"
            type="email"
            placeholder="User Email?"
            value="{{frmData.usr_email}}"
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label"> User Address* </ion-label>
          <ion-textarea 
          class="input-textarea"
           #pkgDescriptionCtrl="ngModel"
            [(ngModel)]="frmData.usr_address"
             required 
             placeholder="Please Enter the Feed Back"
              name="userAddress"
              placeholder="User Address"
              value="{{frmData.usr_address}}"
              ></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label">Zip Code* </ion-label>
          <ion-input
            required
            minlength="5"
            maxlength="40"
            name="userZipCode"
            [(ngModel)]="frmData.usr_zip_code"
            ngModel
            #deliveryTimeCtrl="ngModel"
            class="input"
            id="regDate"
            type="text"
            placeholder="eg. User Zip Code "
            value="{{frmData.usr_zip_code}}"
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="user_status_label" class="ion-label">Status</ion-label>
            <ion-select  [interfaceOptions]="getActionSheetHeader('User Status')" value="{{frmData.usr_status}}" name="usr_status" [(ngModel)]="frmData.usr_status" class="ion-select">
              <ion-select-option mode="ios" value="ACTIVE">ACTIVE</ion-select-option>
              <ion-select-option mode="ios" value="UNACTIVE">INACTIVE</ion-select-option>
              <!-- <ion-select-option mode="ios" value="VACATION">VACATION</ion-select-option> -->
            </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="user_role" class="ion-label">Role</ion-label>
            <ion-select [interfaceOptions]="getActionSheetHeader('User Role')" value="{{frmData.usr_role}}" name="usr_role" [(ngModel)]="frmData.usr_role" class="ion-select">
              <ion-select-option mode="ios" value="ADMIN_OFFICE">Admin Office</ion-select-option>
              <ion-select-option mode="ios" value="DOCTOR">Doctor</ion-select-option>
              <!-- <ion-select-option mode="ios" value="PHYSICIAN">Physician</ion-select-option> -->
              <ion-select-option mode="ios" value="CARETAKER">Caretaker</ion-select-option>
              <ion-select-option mode="ios" value="PATIENT_ROLES">Patient</ion-select-option>
            </ion-select>
        </ion-col>
      </ion-row>

      <ion-row  *ngIf="!userId">
        <!-- <ion-row *ngIf="userId != null || userId != undefined"> -->
        <ion-col>
          <ion-label for="user" class="ion-label"> New Password* </ion-label>
          <ion-input
            
            minlength="4"
            maxlength="10"
            name="userPassword"
            [(ngModel)]="frmData.usr_new_pass"
            ngModel
            #pkgPriceCtrl="ngModel"
            class="input"
            id="userPassword"
            type="password"
            required
            placeholder="eg. New Password"
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!userId">
        <!-- <ion-row *ngIf="userId != null || userId != undefined"> -->
        <ion-col>
          <ion-label for="user" class="ion-label"> Confirm Password* </ion-label>
          <ion-input
            [class.invalid-input-custom] = "!isPasswordSame()"
            minlength="4"
            maxlength="10"
            name="userNewPassword"
            [(ngModel)]="frmData.usr_cnf_pass"
            ngModel
            #pkgPriceCtrl="ngModel"
            class="input"
            id="userNewPassword"
            type="password"
            placeholder="eg. Confirm Password"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            [disabled]="!f.valid || !isPasswordSame()"
            expand="block"
            fill="solid"
            shape="round"
            color="primary"
            >Save User</ion-button
          >
        </ion-col>
    </ion-row>
    </ion-grid>
  </form>
</ion-content> 
