.fc-col-header {
    width: 100% !important;
}
.fc-scroller-harness{
    height: 100% !important;
}
.fc-scroller{
    height: 100% !important;
}

.fc-daygrid{
    // height: 100% !important;
    // min-height: 500px !important;
}