<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
          <ion-menu-button color="light" size="small" menu="m1"></ion-menu-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
          <!-- <ion-icon slot='start' color="primary" name="menu"  routerDirection='backward'></ion-icon> -->
          <ion-title color="light" class="ion-text-center">
            Cases List
              <!-- <div class='ion-text-center'>
                  <img class='Logo-img' src="../../../../assets/images/Logo/skill-experts-white-01.svg" alt="" />
              </div> -->
          </ion-title>
          <ion-icon color="light" name="search"
              slot="end">
          </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let single of allCases">
    <ion-item class='bg-none' lines='none' [routerLink]="['/','cases','single-page',single.app_uid]">
      <ion-icon name="document" color='primary' slot="start"></ion-icon>
      <ion-label>
        <h2>{{single.app_tas_title}}</h2>
        <p>{{single.patient}}</p>
      </ion-label>
      <!-- <ion-button fill="outline" slot="end">start</ion-button> -->
    </ion-item>

    <ion-card-content>
      {{single.app_pro_title}}
    </ion-card-content>
  </ion-card>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
