<ion-header>
  <ion-toolbar>
    <ion-title>Case Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let single of allCases">
    <ion-item [routerLink]="['/','cases','single-page',single.app_uid]">
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label>{{single.app_tas_title}}</ion-label>
      <!-- <ion-button fill="outline" slot="end">start</ion-button> -->
    </ion-item>

    <ion-card-content>
      {{single.app_pro_title}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
