.radio-label {
    margin-left: 8px !important;
    font-size: smaller !important;
}
 .guide_line_row{
    border-radius: 5px !important;
    height: 160px !important;
    border: 1px solid antiquewhite !important;
 }
 ion-button {
    --border-radius: 17px !important;
 }