<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item class='bg-none' lines="none">
      <ion-title color="light" class="ion-text-center">
        Case Page
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment class='my-segment' [(ngModel)]="activeSegment" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="steps">
            <ion-label>Steps</ion-label>
          </ion-segment-button>
          <ion-segment-button value="notes">
            <ion-label>Notes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="guides">
            <ion-label>Guide</ion-label>
          </ion-segment-button>
          <ion-segment-button value="basic">
            <ion-label>About</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <!-- steps -->
    <ion-row *ngIf="activeSegment == 'steps'">
      <ion-col size="12">
        <ng-container *ngFor="let step of caseData">
          <ion-item class='list-bg' lines='none'>
            <ion-label *ngIf="step.step_type_obj == 'DYNAFORM'">
              <h2>{{step.obj_title}}</h2>
              <p>Form</p>
            </ion-label>

            <ion-label *ngIf="step.step_type_obj == 'OUTPUT_DOCUMENT'">
              <h2>{{step.obj_title}}</h2>
              <p>OutPut Document</p>
            </ion-label>

            <ion-text color="red" *ngIf="step.step_type_obj == 'OUTPUT_DOCUMENT'">
              Not Support on mobile Yet
            </ion-text>
            <ion-button *ngIf="step.step_type_obj == 'DYNAFORM'" shape='round' (click)="singleStep(step)">
              Open
            </ion-button>
          </ion-item>
        </ng-container>
        <ion-button shape='round' shape='round' (click)="doNextStep(null)" expand="block">
          Submit Case
        </ion-button>
        <ion-button *ngIf="showFeedBack" shape='round' fill="outline" shape='round' (click)="feedBack()" expand="block">
          Add FeedBack
        </ion-button>
        <ion-button *ngIf="showFeedBack" shape='round' fill="outline" shape='round' (click)="reAssignCase()"
          expand="block">
          Re-Assign
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Feedbacks
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- gides -->
    <ion-row *ngIf="activeSegment == 'guides'">
      <iframe width="100%" height="600" [srcdoc]="guide"></iframe>
    </ion-row>

    <!-- Guides -->
    <ion-row *ngIf="activeSegment == 'notes'">
      <ion-col>
        <ng-container *ngIf="!notePermission">
          <ion-item class='list-bg' lines='none'>
            <ion-label>
              Sorry! You have Not permission to case notes
            </ion-label>
          </ion-item>
          <!-- <ion-button (click)="addNote()" shape='round' expand="block">
            Add Notes
          </ion-button> -->
        </ng-container>
        <ng-container *ngIf="notePermission">
          <ion-item *ngFor="let nt of allNotes">
            <ion-label>
              {{nt.note_content}}
            </ion-label>
          </ion-item>
          <ion-button (click)="addNote()" shape='round' expand="block">
            Add Notes
          </ion-button>
        </ng-container>
      </ion-col>
    </ion-row>



    <ion-row *ngIf="activeSegment == 'basic'">
      <ion-col size='12'>
        <div class="label-div">
          <ion-label>Create Time</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ taskData.app_create_date }}</ion-label>
        </div>
      </ion-col>

      <ion-col size='12'>
        <div class="label-div">
          <ion-label>Init User</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ taskData.app_init_usr_username }}</ion-label>
        </div>
      </ion-col>

      <ion-col size='12'>
        <div class="label-div">
          <ion-label>PathWay Name</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ taskData.pro_name }}</ion-label>
        </div>
      </ion-col>

      <h2 style="margin: 6px 6px;
      padding: 6px 6px;
      font-size: large;
      background-color: #02b4d069;
      width: 100%;
      border-radius: 10px;">Current Task(s)</h2>
      <ng-container *ngFor="let task12 of taskData.current_task">
        <ion-col size='12'>
          <div class="label-div">
            <ion-label>Task Title</ion-label>
          </div>
          <div class="data-div">
            <ion-label>{{ task12.tas_title }}</ion-label>
          </div>
        </ion-col>


        <ion-col size='12'>
          <div class="label-div">
            <ion-label>Task Init Date</ion-label>
          </div>
          <div class="data-div">
            <ion-label>{{ task12.del_init_date }}</ion-label>
          </div>
        </ion-col>

        <ion-col size='12'>
          <div class="label-div">
            <ion-label>Task User</ion-label>
          </div>
          <div class="data-div">
            <ion-label>{{ task12.usr_name }}</ion-label>
          </div>
        </ion-col>
      </ng-container>



    </ion-row>


    <!-- <ion-row *ngIf="activeSegment == 'steps_old'">
      <ion-col>
        <form #form="ngForm" (ngSubmit)="doNextStep(form)">
          <h2 class="ion-text-center">{{formName}}</h2>
          <ng-container *ngFor="let item of allVariables">
            <ng-container *ngIf="item.itemType == 'dropdown'">
              <ion-item class='list-bg' lines='none'>
                <ion-label position="floating">
                  {{item.itemLabel}}
                </ion-label>
                <ion-select [name]="item.itemName" [required]="item.isRequired" [(ngModel)]="item.itemValue"
                  [ngModelOptions]="{standalone: true}">
                  <ion-select-option *ngFor="let opt of item.allOptions" [value]="opt.value">
                    {{ opt.label }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="item.itemType == 'text'">
              <ion-item class='list-bg' lines='none'>
                <ion-label position="floating">
                  {{item.itemLabel}}
                </ion-label>
                <ion-input [name]="item.itemName" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="item.itemValue" [readonly]="" [required]="item.isRequired">

                </ion-input>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="item.itemType == 'radio'">
              <ion-radio-group allow-empty-selection value="anchovies" [(ngModel)]="item.itemValue"
                [ngModelOptions]="{standalone: true}">
                <ion-list-header>
                  <ion-label>{{item.itemLabel}}</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let option of item.allOptions">
                  <ion-label>{{ option.label }}</ion-label>
                  <ion-radio mode="ios" slot="end" color="primary" [value]="option.value"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ng-container>
            <ng-container *ngIf="item.itemType == 'checkgroup'">
              <ion-list>
                <ion-list-header>{{ item.itemLabel }}</ion-list-header>
                <ion-item *ngFor="let option of item.allOptions">
                  <ion-label>{{ option.label }}</ion-label>
                  <ion-checkbox [ngModelOptions]="{standalone: true}"
                    (ionChange)="pushArrayValue(option.value,$event,item)" [(ngModel)]="option.isSelected"
                    color="primary" mode="ios" slot="start" [value]="option.value">
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ng-container>
            <ng-container *ngIf="item.itemType == 'disease'">
              <ion-item class='list-bg' lines='none'>
                <ion-label position="floating">
                  {{item.itemLabel}}
                </ion-label>
                <ion-select [name]="item.itemName" [required]="item.isRequired" [(ngModel)]="item.itemValue"
                  [ngModelOptions]="{standalone: true}">
                  <ion-select-option *ngFor="let opt of item.allOptions" [value]="opt.value">
                    {{ opt.text }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="item.itemType == 'textarea'">
              <ion-item class='list-bg' lines='none'>
                <ion-label position="floating">{{ item.itemLabel }}</ion-label>
                <ion-textarea [(ngModel)]="item.itemValue" [ngModelOptions]="{standalone: true}"></ion-textarea>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="item.itemType == 'grid'">
              <ion-label position="floating" class="ion-text-left">
                {{item.itemLabel}}
              </ion-label>
              <ion-button shape='round' style='float:right;margin-right: 10px;' (click)="addGridItems(item)"
                color="primary">
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ng-container *ngFor="let option of item.itemOptions">
                <ion-item *ngIf="option.type == 'text'">
                  <ion-label position="floating">
                    {{option.title}}
                  </ion-label>
                  <ion-input man="option.maxLength" [name]="option.name" type="text" [readonly]=""
                    [required]="option.required">
                  </ion-input>
                </ion-item>
                <ion-item *ngIf="option.type == 'dropdown'">
                  <ion-label position="floating">
                    {{option.title}}
                  </ion-label>
                  <ion-select mode="ios" [name]="option.name" [required]="option.required">
                    <ion-select-option *ngFor="let optn of option.options" [value]="optn.value">
                      {{ optn.label }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item *ngIf="option.type == 'textarea'">
                  <ion-label position="floating"> {{option.title}}</ion-label>
                  <ion-textarea></ion-textarea>
                </ion-item>
                <div *ngIf="option.type == 'checkbox'">
                  <ion-item *ngFor="let optn of option.options">
                    <ion-label>{{ optn.label }}</ion-label>
                    <ion-checkbox color="primary" mode="ios" slot="end" [value]="optn.value"></ion-checkbox>
                  </ion-item>
                </div>
                <ion-item *ngIf="option.type == 'datetime'">
                  <ion-label position="floating"> {{option.title}}</ion-label>
                  <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
                </ion-item>
              </ng-container>
              <div *ngIf="addNewGridOption.length > 0">
                <ng-container *ngFor="let option of addNewGridOption">
                  <ion-item *ngIf="option.type == 'text'">
                    <ion-label position="floating">
                      {{option.title}}
                    </ion-label>
                    <ion-input man="option.maxLength" [name]="option.name" type="text" [readonly]=""
                      [required]="option.required">
                    </ion-input>
                  </ion-item>
                  <ion-item *ngIf="option.type == 'dropdown'">
                    <ion-label position="floating">
                      {{option.title}}
                    </ion-label>
                    <ion-select mode="ios" [name]="option.name" [required]="option.required">
                      <ion-select-option *ngFor="let optn of option.options" [value]="optn.value">
                        {{ optn.label }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item *ngIf="option.type == 'textarea'">
                    <ion-label position="floating"> {{option.title}}</ion-label>
                    <ion-textarea></ion-textarea>
                  </ion-item>
                  <div *ngIf="option.type == 'checkbox'">
                    <ion-item *ngFor="let optn of option.options">
                      <ion-label>{{ optn.label }}</ion-label>
                      <ion-checkbox color="primary" mode="ios" slot="end" [value]="optn.value"></ion-checkbox>
                    </ion-item>
                  </div>
                  <ion-item *ngIf="option.type == 'datetime'">
                    <ion-label position="floating"> {{option.title}}</ion-label>
                    <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z">
                    </ion-datetime>
                  </ion-item>
                </ng-container>
              </div>
            </ng-container>

          </ng-container>
        </form>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>