<ion-header>
  <ion-toolbar>
    <ion-title>Case Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="doNextStep(form)">
    <ng-container *ngFor="let item of allVariables">
      <!-- <p>All VariaAbles</p> -->
      <!-- //INPUT DROPDOWN -->
      <ng-container *ngIf="item.itemType == 'dropdown'">
        <ion-item>
          <ion-label position="floating">
            {{item.itemLabel}}
          </ion-label>
          <ion-select [name]="item.itemName" [required]="item.isRequired" [(ngModel)]="item.itemValue"
            [ngModelOptions]="{standalone: true}">
            <ion-option *ngFor="let opt of item.allOptions">

            </ion-option>
          </ion-select>
        </ion-item>
      </ng-container>
      <!-- //INPUT TEXTFIELD -->
      <ng-container *ngIf="item.itemType == 'text'">
        <ion-item>
          <ion-label position="floating">
            {{item.itemLabel}}
          </ion-label>
          <ion-input [name]="item.itemName" type="text" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="item.itemValue" [readonly]="" [required]="item.isRequired">

          </ion-input>
        </ion-item>
      </ng-container>
    </ng-container>
    <ion-button type="submit">Submit</ion-button>
  </form>
</ion-content>