<ion-header>
  <ion-toolbar>
    <ion-title>Case Page</ion-title>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="doNextStep(null)" color="light">Submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="doNextStep(form)">
    <h2 class="ion-text-center">{{formName}}</h2>
    <ng-container *ngFor="let item of allVariables">
      <ng-container *ngIf="item.itemType == 'dropdown'">
        <ion-item>
          <ion-label position="floating">
            {{item.itemLabel}}
          </ion-label>
          <ion-select [name]="item.itemName" [required]="item.isRequired" [(ngModel)]="item.itemValue"
            [ngModelOptions]="{standalone: true}">
            <ion-select-option *ngFor="let opt of dropDownValues" [value]="opt.value">
              {{ opt.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ng-container>
      <!-- //INPUT TEXTFIELD -->
      <ng-container *ngIf="item.itemType == 'text'">
        <ion-item>
          <ion-label position="floating">
            {{item.itemLabel}}
          </ion-label>
          <ion-input [name]="item.itemName" type="text" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="item.itemValue" [readonly]="" [required]="item.isRequired">

          </ion-input>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="item.itemType == 'radio'">
        <ion-radio-group allow-empty-selection value="anchovies">
          <ion-list-header>
            <ion-label>{{item.itemLabel}}</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let option of radioOptions">
            <ion-label>{{ option.label }}</ion-label>
            <ion-radio mode="ios" slot="end" color="primary" [value]="option.value"></ion-radio>
          </ion-item>          
        </ion-radio-group>
      </ng-container>
      <ng-container *ngIf="item.itemType == 'checkgroup'">
        <ion-list>
          <ion-list-header>{{ item.itemLabel }}</ion-list-header>
            <ion-item *ngFor="let option of checkBoxOptions">
              <ion-label>{{ option.label }}</ion-label>
              <ion-checkbox color="primary" mode="ios" slot="start" [value]="option.value"></ion-checkbox>
            </ion-item>
            </ion-list>
      </ng-container>
      <ng-container *ngIf="item.itemType == 'grid'">
        <ng-container *ngFor="let option of gridOptions">
          <ion-item *ngIf="option.type == 'text'">
            <ion-label position="floating">
              {{option.title}}
            </ion-label>
            <ion-input man="option.maxLength" [name]="option.name" type="text" [ngModelOptions]="{standalone: true}"
               [readonly]="" [required]="option.required">
            </ion-input>
          </ion-item>
          <ion-item *ngIf="option.type == 'dropdown'">
            <ion-label position="floating">
              {{option.title}}
            </ion-label>
            <ion-select mode ="ios" [name]="option.name" [required]="option.required"
            [ngModelOptions]="{standalone: true}">
            <ion-select-option  *ngFor="let optn of option.options"  [value]="optn.value">
              {{ optn.label }}
            </ion-select-option>
          </ion-select>
          </ion-item>
          <ion-item *ngIf="option.type == 'textarea'">
            <ion-label position="floating"> {{option.title}}</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
          <div *ngIf="option.type == 'checkbox'">
            <ion-item *ngFor="let optn of option.options">
              <ion-label>{{ optn.label }}</ion-label>
              <ion-checkbox color="primary" mode="ios" slot="end" [value]="optn.value"></ion-checkbox>
            </ion-item>
          </div>
          <ion-item *ngIf="option.type == 'datetime'">
            <ion-label position="floating"> {{option.title}}</ion-label>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
          </ion-item>
        </ng-container>
      </ng-container>
    </ng-container>
  </form>
</ion-content>