<ion-content>
  <ion-item color="primary">
    Login Server
  </ion-item>
  <ion-radio-group (ionChange)="changeValue($event)" [(ngModel)]="serverType" [ngModelOptions]="{standalone: true}">
    <ion-item>
      <ion-radio value="1" style="margin: 10px;"></ion-radio>
      <ion-label>Live</ion-label>
    </ion-item>
  <ion-item>
    <ion-radio value="2" style="margin: 10px;"></ion-radio>
    <ion-label>Testing</ion-label>
  </ion-item>
  <ion-item>
    <ion-radio value="3" style="margin: 10px;"></ion-radio>
    <ion-label>Development</ion-label>
  </ion-item>
</ion-radio-group>

<!-- <ion-item color="primary">
  <ion-label>
    Language
  </ion-label>
</ion-item>
     <ion-radio-group (ionChange)="changeLanguage($event)" [(ngModel)]="languageType" [ngModelOptions]="{standalone: true}">




        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-radio value="en" style="margin: 10px;"></ion-radio>
              <ion-label>English</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-radio value="ar" style="margin: 10px;"></ion-radio>
              <ion-label>Arabic</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group> -->
</ion-content>
