<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar (ionChange)="changeSearch($event)" (ionCancel)="closeModal()" showCancelButton="always">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="search_for == 'd'">
  <ion-list>
    <ion-radio-group  [(ngModel)]="selectValue">
      <ion-list-header>
        <ion-label>
          Select Disease
        </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let dis of allLoadData">
        <ion-label>{{dis.PAT_DISEASE_NAME}}</ion-label>
        <ion-radio [value]="diseaseValue(dis)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-content *ngIf="search_for == 's'">
  <ion-list>
    <ion-radio-group  [(ngModel)]="selectValue">
      <ion-list-header>
        <ion-label>
          Select Specialty
        </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let sp of allLoadData">
        <ion-label>{{sp.SPECIALTY_NAME}}</ion-label>
        <ion-radio [value]="speciositiesValue(sp)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="selectValueOK()">
    Select
  </ion-button>
</ion-footer>