<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="light" size="small" slot="start">
      <ion-menu-button color="light" size="small" menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-item class="bg-none" lines="none">
      <ion-title color="light" class="ion-text-center"> Dashboard </ion-title>
      <!-- <ion-icon color="light" name="search"
              slot="end">
          </ion-icon> -->
      <ion-icon name="none" slot="end"> </ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- PATHWAYS -->
    <ion-row *ngIf="showPathway">
      <ion-col>
        <div class="outer-div">
          <div class="label-div">
            <ion-label> Pathways </ion-label>
          </div>
          <div class="data-div">
            <ion-row class="ion-text-center">
              <ion-col size="4">
                <div class="circle-bg">
                  <ion-item lines="none" class="bg-none">
                    <ion-avatar class="my-avatar">
                      <img
                        src="../../../../assets/dashboard-icons/Artboard - 1.svg"
                      />
                    </ion-avatar>
                  </ion-item>
                </div>
                <ion-label class="ion-text-center sm-txt"
                  ><b>All Pathways</b></ion-label
                >
                <p class="ion-text-center count-p">{{allPathwaysCount}}</p>
              </ion-col>

              <ion-col size="4">
                <div class="circle-bg">
                  <ion-item lines="none" class="bg-none">
                    <ion-avatar class="my-avatar">
                      <img
                        src="../../../../assets/dashboard-icons/Artboard - 2.svg"
                      />
                    </ion-avatar>
                  </ion-item>
                </div>
                <ion-label class="ion-text-center sm-txt"
                  ><b> Pathways </b></ion-label
                >
                <p class="ion-text-center count-p">{{activePathwaysCount}}</p>
              </ion-col>

              <ion-col size="4">
                <div class="circle-bg">
                  <ion-item lines="none" class="bg-none">
                    <ion-avatar class="my-avatar">
                      <img
                        src="../../../../assets/dashboard-icons/Artboard - 3.svg"
                      />
                    </ion-avatar>
                  </ion-item>
                </div>
                <ion-label class="ion-text-center sm-txt">
                  <b>De-active Pathways</b></ion-label
                >
                <p class="ion-text-center count-p">{{unactivePathwaysCount}}</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Patients -->
    <ion-row *ngIf="showPathway">
      <ion-col>
        <div class="outer-div">
          <div class="label-div">
            <ion-label> Patients </ion-label>
          </div>
          <div class="data-div">
            <ion-row class="ion-text-center">
              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt"
                  ><b>Cured Patients</b></ion-label
                >
                <p class="ion-text-center count-p">{{curedPatients}}</p>
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt"
                  ><b> On Going patients </b></ion-label
                >
                <p class="ion-text-center count-p">{{onGoingPatients}}</p>
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>Remaining's Patients </b></ion-label
                >
                <p class="ion-text-center count-p">{{remainingPatients}}</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- ALL USRS -->
    <ion-row *ngIf="showAllUsers">
      <ion-col>
        <div class="outer-div">
          <div class="label-div">
            <ion-label> All Users </ion-label>
          </div>
          <div class="data-div">
            <ion-row
              class="ion-text-center"
              style="border-bottom: 1px solid var(--ion-color-primary)"
            >
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt"><b>NO </b></ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  ><b>NAME </b></ion-label
                >
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>QUANTITY </b></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">1</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  >Active User</ion-label
                >
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{activeUsers}} </b></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">2</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  >Un-active User</ion-label
                >
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{unactiveUsers}} </b></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">3</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt">All Users</ion-label>
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{allUsers}} </b></ion-label
                >
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">3</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  >Total Physicians</ion-label
                >
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{physicans}} </b></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">4</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  >Total Doctors</ion-label
                >
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{doctors}} </b></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">5</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  >Total Caretaker
                </ion-label>
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{careTackers}} </b></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">6</ion-label>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"> Admins</ion-label>
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{allAdmins}} </b></ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row class="ion-text-center">
              <ion-col size="2">
                <ion-label class="ion-text-center sm-txt">7</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  >Total patients</ion-label
                >
              </ion-col>

              <ion-col size="4">
                <ion-label class="ion-text-center sm-txt">
                  <b>{{patients}} </b></ion-label
                >
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Diseases -->
    <ion-row *ngIf="showDisease">
      <ion-col>
        <div class="outer-div">
          <div class="label-div">
            <ion-label> Diseases </ion-label>
          </div>
          <div class="data-div">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="diseases-item">
                  <ion-label class="sm-txt"
                    ><b>Total</b>
                    <ion-note class="ion-float-right">{{allDisease}}</ion-note>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <ion-item lines="none" class="diseases-item">
                  <ion-label class="sm-txt"
                    ><b>Disease have Pathways Created</b>
                    <ion-note class="ion-float-right">{{withProcess}}</ion-note>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <ion-item lines="none" class="diseases-item">
                  <ion-label class="sm-txt"
                    ><b>Disease In Patients </b>
                    <ion-note class="ion-float-right">{{withPatient}}</ion-note>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Specialties -->
    <ion-row *ngIf="showSpecial">
      <ion-col>
        <div class="outer-div">
          <div class="label-div">
            <ion-label> Specialties </ion-label>
          </div>
          <div class="data-div">
            <ion-row class="ion-text-center">
              <ion-col
                size="6"
                style="border-right: 2px solid var(--ion-color-primary)"
              >
                <ion-label class="ion-text-center sm-txt"
                  ><b>Total</b></ion-label
                >
                <p class="ion-text-center count-p">{{allSpecilities}}</p>
              </ion-col>

              <ion-col size="6">
                <ion-label class="ion-text-center sm-txt"
                  ><b> Pathways Related </b></ion-label
                >
                <p class="ion-text-center count-p">
                  {{allSpecilitiesWithProcess}}
                </p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Cases -->
    <ion-row *ngIf="showCases">
      <ion-col>
        <div class="outer-div">
          <div class="label-div">
            <ion-label> Cases </ion-label>
          </div>
          <div class="data-div">
            <ion-row class="">
              <ion-col
                size="4"
                style="
                  border-right: 1px solid var(--ion-color-primary);
                  text-align: end;
                "
              >
                <ion-label class="sm-txt" style="padding-right: 12px"
                  ><b>{{inboxCount}}</b></ion-label
                >
                <div class="dot"></div>
              </ion-col>
              <ion-col size="8">
                <ion-label class="sm-txt" style="padding-left: 10px"
                  ><b> Inbox Count </b></ion-label
                >
              </ion-col>

              <ion-col
                size="4"
                style="
                  border-right: 1px solid var(--ion-color-primary);
                  text-align: end;
                "
              >
                <ion-label class="sm-txt" style="padding-right: 12px"
                  ><b>{{participatedCount}}</b></ion-label
                >
                <div class="dot"></div>
              </ion-col>
              <ion-col size="8">
                <ion-label class="sm-txt" style="padding-left: 10px"
                  ><b> Participated Count </b></ion-label
                >
              </ion-col>

              <ion-col
                size="4"
                style="
                  border-right: 1px solid var(--ion-color-primary);
                  text-align: end;
                "
              >
                <ion-label class="sm-txt" style="padding-right: 12px"
                  ><b>{{draftCount}}</b></ion-label
                >
                <div class="dot"></div>
              </ion-col>
              <ion-col size="8">
                <ion-label class="sm-txt" style="padding-left: 10px"
                  ><b> Draft Count </b></ion-label
                >
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
