.sm-txt{
    font-size: 10px
}

.my-avatar{
    margin: auto;
    --border-radius: 4px;
    img{
        height: 32px;
    }
}

.data-div{
    
    padding-left: 20px !important;

}

.circle-bg{
    background-color: white;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    margin: auto;
    box-shadow: 0px 0px 4px -2px black;
    ion-item{
        padding-top: 11px;
    }
}