<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
          <ion-menu-button color="light" size="small" menu="m1"></ion-menu-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
          <ion-title color="light" class="ion-text-center">
            Dashboard
          </ion-title>
          <ion-icon color="light" name="search"
              slot="end">
          </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="outer-div">

          <div class="label-div">
            <ion-label> Pathways </ion-label>
          </div>
          <div class="data-div">
            <ion-row class='ion-text-center'>
              <ion-col size="4">
                <ion-item lines="none" class='bg-none'>
                  <ion-avatar class="my-avatar">
                    <img src="../../../../assets/dashboard-icons/Artboard - 1.svg"/>
                  </ion-avatar>
                </ion-item>
                <ion-label class="ion-text-center sm-txt">All Pathways</ion-label>
                <p class="ion-text-center count-p"> 100 </p>
              </ion-col>

              <ion-col size="4">
                <ion-item lines="none" class='bg-none'>
                  <ion-avatar class="my-avatar">
                    <img src="../../../../assets/dashboard-icons/Artboard - 2.svg"/>
                  </ion-avatar>
                </ion-item>
                <ion-label class="ion-text-center sm-txt">Active Pathways</ion-label>
                <p class="ion-text-center count-p"> 100 </p>
              </ion-col>

              <ion-col size="4">
                <ion-item lines="none" class='bg-none'>
                  <ion-avatar class="my-avatar">
                    <img src="../../../../assets/dashboard-icons/Artboard - 3.svg"/>
                  </ion-avatar>
                </ion-item>
                <ion-label class="ion-text-center sm-txt">De-active Pathways</ion-label>
                <p class="ion-text-center count-p"> 100 </p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
