<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home" routerLinkActive="router-link-active">
        <ion-label>Home</ion-label>
        <ion-icon name='home'></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab='dashboard'>
        <ion-label>DashB.</ion-label>
        <ion-icon name="pie-chart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab='feedbacks'>
        <ion-label>FeedB.</ion-label> 
        <ion-icon name='star-half'></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab='notifications'>
        <ion-label>Alert.</ion-label>
        <ion-icon name='notifications'></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/','cases','tabs','inbox']">
        <ion-label>Cases</ion-label>
        <ion-icon name="document-text"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

