<!-- <app-custom-loader *ngIf="loading"> </app-custom-loader> -->
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-item class='bg-none' lines='none'>
            <ion-icon name="chevron-back" color="light" slot="start" [routerLink]="['/admin/tabs/home']"></ion-icon>
            <ion-label class="ion-text-center" color='light'> Patient Details
            </ion-label>
            <ion-icon name="none" slot="end" color="light" size="small"></ion-icon>
        </ion-item>
        <ion-segment (ionChange)="changeSegment($event)" value="personDetails">
            <ion-segment-button value="personDetails">
                <ion-label>Person Details</ion-label>
            </ion-segment-button>
            <ion-segment-button value="caseDetails">
                <ion-label>Case Details</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="segmentVelue==='personDetails'" translucent='true'>
    <!-- Bubbles
    <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner> -->
    <!-- Custom Refresher Content -->
    <ion-refresher mode="ios" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
            refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid class="ion-no-padding">
     <ion-row *ngIf="isDepartment">
      <ion-col size="5" class="left-col">
       <div class='heading-div'>
        <p class="ion-text-center heading-p">
         <b> Patient Identity</b>
        </p>
       </div>
      </ion-col>
      <ion-col size="7">
        <div class="right-col-detail">
          <p class='right-col-paragraph'>
            ADICANMARK0118
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" class="left-col">
       <div class='heading-div'>
        <p class="ion-text-center heading-p">
         <b> Patient Name:</b>
        </p>
       </div>
      </ion-col>
      <ion-col size="7">
        <div class="right-col-detail">
          <p class='right-col-paragraph'>
            ADICAN MARK
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" class="left-col">
       <div class='heading-div'>
        <p class="ion-text-center heading-p">
         <b> Patient Password:</b>
        </p>
       </div>
      </ion-col>
      <ion-col size="7">
        <div class="right-col-detail">
          <p class='right-col-paragraph'>
              96HD76
          </p>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="5" class="left-col">
       <div class='heading-div'>
        <p class="ion-text-center heading-p">
         <b> Patient Age:</b>
        </p>
       </div>
      </ion-col>
      <ion-col size="7">
        <div class="right-col-detail">
          <p class='right-col-paragraph'>
              2
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" class="left-col">
       <div class='heading-div'>
        <p class="ion-text-center heading-p">
         <b> Patient In Date:</b>
        </p>
       </div>
      </ion-col>
      <ion-col size="7">
        <div class="right-col-detail">
          <p class='right-col-paragraph'>
              0005-01-01 00:00:00
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="5" class="left-col">
       <div class='heading-div'>
        <p class="ion-text-center heading-p">
         <b> Action:</b>
        </p>
       </div>
      </ion-col>
      <ion-col size="7">
        <div class="right-col-detail">
          <p class='right-col-paragraph'>
          <ion-button color='primary'> Details </ion-button>
          <ion-button color='primary'> Assign </ion-button>
          </p>
        </div>
      </ion-col>
    </ion-row>

    

    </ion-grid>
</ion-content>

<ion-content *ngIf="segmentVelue==='caseDetails'" translucent='true'>
    <!-- Bubbles
    <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner> -->
    <!-- Custom Refresher Content -->
    <ion-refresher mode="ios" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
            refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid class="ion-no-padding">
    </ion-grid>
</ion-content>