<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
          <ion-menu-button color="light" size="small" menu="m1"></ion-menu-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
           <ion-title color="light" class="ion-text-center">
            Users List
          </ion-title>
          <ion-icon color="light" name="search"
              slot="end">
          </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class='list-bg' *ngFor="let user of usersList">
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none'>
            <ion-icon class="detail-icon" src="../../../assets/list-icons/name.svg"></ion-icon>
            <ion-label class="af-icon-label">
              {{user.usr_username}}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none' >
            <ion-icon class="detail-icon" src="../../../assets/list-icons/height (1).svg"></ion-icon>
            <ion-label class="af-icon-label">  {{user.usr_firstname}} {{user.usr_lastname}}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none' >
            <ion-icon class="detail-icon" src="../../../assets/list-icons/file-medical-coronavirus-healthcare-hospital.svg"></ion-icon>
            <ion-label class="af-icon-label">
             {{user.usr_position}}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none' >
            <ion-icon class="detail-icon" src="../../../assets/list-icons/time (1).svg"></ion-icon>
            <ion-label class="af-icon-label"> {{user.usr_status}}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
   <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
