<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="none" color="light" slot="start"></ion-icon>
      <ion-label class="ion-text-center" color='light'> Upload Image</ion-label>
      <ion-icon name="close" color="light" slot="end" (click)='dismiss()'></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-no-padding">

        <div class="picker">

          <ion-img role="button" class="image" (click)="onPickImage()" [src]="selectedImage" *ngIf="selectedImage">
          </ion-img>
          <div class='outer-icon-div'>
            <ion-button class="camera-btn" *ngIf="!selectedImage" color="warning" fill='outline' shape='round' (click)="onPickImage()">
              <ion-icon size='large' name="camera"></ion-icon>
            </ion-button>
          </div>

        </div>
        <input accept="image/jpeg" type="file" #filePiker *ngIf="usePicker" (change)="onFileChosen($event)" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button *ngIf="selectedImage" (click)="uploadFileStart()" expand="block">
    upload
  </ion-button>
</ion-footer>