<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
          <ion-back-button (click)="closeMosal()" color="light" size="small" defaultHref='/admin/tabs/home'></ion-back-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
          <ion-title color="light" class="ion-text-center" *ngIf="!isNew">
           Update Patient
          </ion-title>
          <ion-title color="light" class="ion-text-center" *ngIf="isNew">
            Add Patient
           </ion-title>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="savePatient(f)">
    <ion-grid class='main-grid'>
      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label" *ngIf="isNew"> First Name* </ion-label>
          <ion-label for="user" class="ion-label" *ngIf="!isNew"> Full Name* </ion-label>
          <ion-input
            required
            minlength="3"
            maxlength="100"
            name="p_f_name"
            [(ngModel)]="frmData.usr_firstname"
            ngModel
            #jobTitleCtrl="ngModel"
            class="input"
            id="firstName"
            type="text"
            placeholder="First Name?"
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isNew">
        <ion-col>
          <ion-label for="user" class="ion-label">Last Name*</ion-label>
            <ion-input
              class="input"
              required
              type="text"
              minlength="3"
              maxlength="100"
              name="p_l_name"
              ngModel
              #searchTagCtrl="ngModel"
              [(ngModel)]="frmData.usr_lastname"
              placeholder="Last Name?"
            >
            </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label"> Patient Age* </ion-label>
          <ion-input
            required
            minlength="1"
            maxlength="3"
            min= 1
            max = 105
            name="p_age"
            [(ngModel)]="patientAge"
            ngModel
            #pkgNameCtrl="ngModel"
            class="input"
            id="patientAge"
            type="number"
            placeholder="Patient Age?"
          >
          </ion-input>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="isNew">
        <ion-col>
          <ion-label for="user" class="ion-label"> Patient Email* </ion-label>
          <ion-input
            required
            minlength="5"
            maxlength="60"
            name="p_email"
            [(ngModel)]="frmData.usr_email"
            ngModel
            #pkgDescriptionCtrl="ngModel"
            class="input"
            id="patientEmail"
            type="email"
            placeholder="Patient Email?"
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isNew">
        <ion-col (click)="patientAssignTask()">
          <ion-label for="user" class="ion-label"> Select Disease* </ion-label>
          <ion-input required minlength="3" maxlength="140" readonly name="p_email2" [(ngModel)]="selectDices.name"
            ngModel #pkgDescriptionCtrl="ngModel" class="input" id="patientEmail2" type="text" placeholder="Disease">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isNew">
        <ion-col>
          <ion-label for="user" class="ion-label"> Registration Date* </ion-label>
          <ion-input
            required
            minlength="5"
            maxlength="40"
            name="p_date"
            [(ngModel)]="regDate"
            ngModel
            #deliveryTimeCtrl="ngModel"
            class="input"
            id="regDate"
            type="date"
            placeholder="eg. Registration Date? "
          >
          </ion-input>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label"> Phone No* </ion-label>
          <ion-input
            required
            minlength="5"
            maxlength="15"
            name="p_phone_no"
            [(ngModel)]="frmData.usr_phone"
            ngModel
            #pkgPriceCtrl="ngModel"
            class="input"
            id="phoneNo"
            type="tel"
            inputmode ="tel"
            placeholder="eg. Phone No?$"
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isNew">
        <ion-col>
          <ion-label for="user" class="ion-label"> Postal Code* </ion-label>
          <ion-input
            minlength="4"
            maxlength="8"
            name="p_zip_code"
            [(ngModel)]="frmData.usr_zip_code"
            ngModel
            #pkgPriceCtrl="ngModel"
            class="input"
            id="postalCode"
            type="number"
            placeholder="eg. Postal Code?$"
          >
          </ion-input>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label"> Address* </ion-label>
          <ion-button style="margin-top: -6px" color="success" size="small" (click)="googleMap()">ADD Map Coordinates</ion-button>
          <ion-textarea
            required
            minlength="20"
            maxlength="100"
            name="p_address"
            [(ngModel)]="frmData.usr_address"
            ngModel
            #serviceDesciptionCtrl="ngModel"
            class="input1"
            id="address"
            type="text"
            placeholder="eg. Address?"
            rows="7"
          >
          </ion-textarea>
          <!-- <ion-button (click)="googleMap()">
            Map
          </ion-button> -->
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            [disabled]="!f.valid"
            expand="block"
            fill="solid"
            shape="round"
            color="primary"
            >Save patient</ion-button
          >
        </ion-col>
    </ion-row>
    </ion-grid>
  </form>
</ion-content> 
