ion-content {
    --background: transparent;
}

.input-description{
    background-color: white;
}

.input{
    border:none;
	padding:15px 20px;
	border-radius:5px;
    color: black;
    height: 48px;
	background:rgba(247, 247, 247);
  }
  .input-textarea {
    border:none;
	padding:15px 0px;
	border-radius:5px;
    color: black;
    // height: 60px;
	background:rgba(247, 247, 247);
  }
  .input1{
    border:none;
    // padding:15px 20px;
    border-radius:5px;
      color: black;
      height: auto;
    // background:rgba(247, 247, 247);
    --background: #f7f7f7;
  }
  .main-containe ion-row ion-col {
        text-align: -webkit-center;
    }
  ion-row ion-col ion-label{
    color: var(--ion-color-dark);
  }
  ion-row {
      padding-bottom: 10px;
  }
  ion-row ion-col ion-input{
      margin-top: 0px;
  }
  .main-container{
      padding: 10px 10px 10px 10px;
  }

  .description-card{
    margin: 0px;
  }

  .description-card ion-card-header{
    padding: 0px;
  }
  .main-grid{
      // padding-left: 0px;
  }
  