<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
         <ion-button (click)="closeModal()">
           <ion-icon color='light' name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
          <ion-title color="light" class="ion-text-center">
           New Cases
          </ion-title>
      </ion-item>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New Case</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-card *ngFor="let single of allCasesNew">
      <ion-item lines='none' class='bg-none'>
        <ion-icon name="document" slot="start"></ion-icon>
        <ion-label>{{single.pro_title}}</ion-label>
        <ion-button fill="outline" shape='round' slot="end" (click)="startCase(single)">Start</ion-button>
      </ion-item>
      <ion-card-content>
        {{single.pro_title}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>