.list-bg{
    background-color: #f0f7fa;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    border-bottom: none !important;
}
.af-icon-label {
    margin-left: 5px;
}
.detail-icon {
    height: 18px !important;
    width: 20px !important;
    color: black !important; 
}
.badge-status {
    padding-right: 12px;
    padding-top: 8px;
}