<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
          <ion-menu-button color="light" size="small" menu="m1"></ion-menu-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
          <ion-title color="light" class="ion-text-center">
            Draft Cases
          </ion-title>
          <ion-icon color="light" name="search"
              slot="end">
          </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
  <ion-grid>
    <ion-row class='list-bg' *ngFor="let case of allDraftCases" [routerLink]="['/','cases','single-page',case.app_uid]" routerLinkActive="router-link-active">
      
      <ion-col size="12">
        <ion-badge class="ion-float-right badge-status" color="primary">{{ case.app_thread_status }}</ion-badge> 
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none'>
            <ion-icon class="detail-icon" src="../../../assets/list-icons/name.svg"></ion-icon>
            <ion-label class="af-icon-label">
              {{case.app_current_user }}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none' >
            <ion-icon class="detail-icon" src="../../../assets/list-icons/height (1).svg"></ion-icon>
            <ion-label class="af-icon-label"> {{ case.app_tas_title }}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none' >
            <ion-icon class="detail-icon" src="../../../assets/list-icons/file-medical-coronavirus-healthcare-hospital.svg"></ion-icon>
            <ion-label class="af-icon-label">
              {{ case.app_pro_title }} 
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-item class='bg-none' lines='none' >
            <ion-icon class="detail-icon" src="../../../assets/list-icons/time (1).svg"></ion-icon>
            <ion-label class="af-icon-label"> {{ case.app_create_date }}
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
