<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons color="light" size="small" slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon color='light' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item class='bg-none' lines="none">
      <ion-title color="light" class="ion-text-center">
        Re Assign Case
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="saveFeed(f)">
    <div>

      <ion-row>
        <ion-col>
          <ion-label for="user" class="ion-label">
            Select CareTacker
          </ion-label>
          <div>
            <ion-select class="input" required name="p_disease" [(ngModel)]="selectCareTacker" ngModel
              #categoryValueCtrl="ngModel" placeholder="Select Care Tacker">
              <ion-select-option [value]="p.id" *ngFor="let p of allUsers">{{p.name}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" [disabled]="!f.valid" expand="block" fill="solid" shape="round" color="primary">Save</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>

</ion-content>