<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-item *ngIf=false>
      <ion-label>Grant type</ion-label>
      <ion-input name="grant_type" type="text" readonly ngModel value="password"></ion-input>
    </ion-item> 
    <ion-item *ngIf=false>
      <ion-input name="scope" type="text" readonly  ngModel value="*"></ion-input>
    </ion-item> 
    <ion-item *ngIf=false>
      <ion-input name="client_id" type="text" readonly ngModel  value="MOEPIIKPXCZPHZETAZTTJMGYYTLLWARH"></ion-input>
    </ion-item> 
    <ion-item *ngIf=false>
      <ion-input name="client_secret" type="text" readonly  ngModel value="6787116325f3dffbfa69216052519218"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">User name</ion-label>
      <ion-input name="username" type="text" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" type="password" ngModel required></ion-input>
    </ion-item>
    
    <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
  </form>
</ion-content> 