<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
          <ion-menu-button color="light" size="small" menu="m1"></ion-menu-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
          <!-- <ion-icon slot='start' color="primary" name="menu"  routerDirection='backward'></ion-icon> -->
          <ion-title color="light" class="ion-text-center">
            Patients List
              <!-- <div class='ion-text-center'>
                  <img class='Logo-img' src="../../../../assets/images/Logo/skill-experts-white-01.svg" alt="" />
              </div> -->
          </ion-title>
          <ion-icon color="light" name="search"
              slot="end">
          </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- fab placed to the bottom end -->
  <ion-fab [routerLink]="['/','admin','patientsForm','add-new-patient']" routerDirection='forward' vertical="bottom" color='primary' horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="allPatients.length">
    <ion-row class='list-bg' *ngFor="let p of allPatients">
      <ion-col>
        <div>
          <ion-item class='bg-none' lines='none' [routerLink]="['/','admin','patients',p.PUBLIC_ID]" routerLinkActive="router-link-active">
            <ion-label> {{p.PAITEINT_NAME}} 
              <p>Dieses {{p.PAT_DISEASE_NAME}}</p>
            </ion-label>
            <ion-note class='ion-float-right'> {{p.CREATE_DATE}}</ion-note>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!allPatients.length">
    <ion-row class='white-bg'>
      <ion-col>
        <ion-item class='bg-none' lines='none'>
          <ion-icon slot='start' name="alert-circle" color='danger'></ion-icon>
          <ion-label> Sorry no Case found! </ion-label>
          <ion-button slot='end' fill='clear' shape='round'>
            <ion-icon name='reload'></ion-icon>
            Retry
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>