/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/***
**  Custom Tool Bar Setting
***/

ion-header {
  // position: inherit;
  --background: none;
// background-image: linear-gradient(to bottom right, #f4b400 , #db4437);
background: url("./assets/images/header-01.png");
background-position: center top;
background-repeat: no-repeat;
background-repeat: no-repeat;
background-size: 100% 100%;
}

ion-card {
    background-color: var(--ion-color-secondary);
    border-bottom: 3px solid var(--ion-color-primary);

    ion-card-content{
      padding-top: 0px !important;
    }
}
ion-menu {
  --width: 90%;
}

.my-segment {
  border-radius: 60px;
  background-color: white;
}

.label-div {
  width: 50%;
  background: var(--ion-color-primary);
  border-radius: 50px;
  padding: 5px;
  background: linear-gradient(to-right #00BAD4 , #137DAF, transparent);
  background-image: linear-gradient(to right, #00BAD4 , #137DAF);
  color: white;
  text-align: center;
  margin-left: 12px;
  position: relative;
}

.data-div{
  background: var(--ion-color-secondary);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 9px -3px #808080b5;
  margin-top: -15px;
  padding-bottom: 15px;
  padding-left: 65px;
}

.list-icon-stl{
  height: 20px;
  width: 20px;
}

.timeline-row{
  background-color: #9e9e9e0d;
  margin-left: -5px;
  margin-right: -5px;
  font-size: xx-small;
  border-radius: 4px;
  color: #0000004a;
  margin-bottom: 2px;
}


.cno-wrap {
  white-space: pre-wrap !important;
}
ion-toolbar {
    // margin-top: 16px;
    height: 100px;
    // --background: none !important;
    // background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary) !important;

    ion-title{
      color:var(--ion-color-light) !important;
    }
}


.bg-none{
  background: none;
  --background: none;
}

ion-back-button{
  // margin-left: -15px !important;
      margin-left: 0px !important;
}


.avatar-custom{
  width: 38px;
  height: 38px;
  background-color: #0000001a;
  border-radius: 11px;
  ion-button{
    color: var(--ion-color-primary);
    width: 42px;
    /* margin: 0px; */
    margin-left: -2px;
    margin-right: 0px;
  }
} 
.my-custom-avatar{
  margin: 10px;
  width: 80px;
  height: 80px;
  background-color: azure !important;
  --background: azure !important;
  padding: 3px;
  background-image: linear-gradient(to right, green , orange, red,yellow);
  margin-left: 0px;
}

.txt-small{
  font-size: small !important;
}
.txt-large{
  font-size: large !important;
}
.txt-xlarge{
  font-size: x-large !important;
}
.txt-xxlarge{
  font-size: xx-large;
}

.date-class {
  margin-right: 10px !important;
  font-size: small;
  color: #a19e9e;
  margin-bottom: -5px !important;
  margin-top: 7px !important;
}
.list-item {
  border-radius: 5px;
  margin: 6px !important;
  box-shadow: 0px 2px rgb(231, 226, 226) !important;
  border-top: 1px solid #e7e2e2 !important;
  border-right: 1px solid #e7e2e2 !important;
}
.custom-ion-segment{
  margin: 5px;
  background-color: #e0dfd9  !important;
  border-radius: 10px;
  height: 40px !important;

  ion-segment-button{
    margin-top: -3px !important;
    border-radius: 5px !important;
  }

  .segment-button-checked{
      color: white;
      ion-label{
          color: white !important;
          padding: 5px;
          border-radius: 8px;
      }
  }
}
.back-icon{
  margin-right: 0px;
  color: white;
  width: 32px !important;
  height: 48px !important;

}
ion-toolbar {
  --background: none !important;
  ion-title{
    color: var(--ion-color-light) !important;
    text-align: center;
  }
}

.white-bg{
  background-color: white;
    border-radius: 6px;
}

.list-bg{
  background-color: #f0f7fa !important;
  border-radius: 5px !important;
  border-bottom: 2px solid #3d7db0 !important;
  margin-bottom: 5px !important;
  box-shadow: 0px 1px 3px 0px #8080803d !important;
}
.gradient-bg {
  border-radius: 50px;
  background-image: linear-gradient(to right, #00BAD4 , #137DAF);
}
.bg-none {
  --background:none !important;
  background: none !important;
  background-color: none !important;
}
ion-segment-button {
  --color-checked: var(--ion-color-light) !important;
  --background-checked: var(--ion-color-primary);
}
ion-segment-button ion-label{
  // color: var(--ion-color-light) !important;
}
.left-col{
  // background-color: #EFF2EE !important;
  // border-radius: 9% !important;
}
.heading-p{
  margin-top: 21px !important;
  margin-bottom: 14px !important;
}
.single-view-card{
  ion-item{
    background-color: #eff2ee;
    margin: 0px 6px;
    border-radius: 10px;
    height: 100%;
  }
  ion-card-header{
    padding: 10px;
    border-radius: 10px;
  }
}
.modal-wrapper .ion-overlay-wrapper .sc-ion-modal-md{
  background-color: #ffffff42;
}
.ion-touched.ion-invalid {
  border: 1px solid red !important;
}
.af-icon-label {
  margin-left: 5px;
}
.detail-icon {
  height: 18px !important;
  width: 20px !important;
  color: black !important; 
}