/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/***
**  Custom Tool Bar Setting
***/

ion-toolbar {
    --background: none !important;
    background-color: #202454 !important;
    color: var(--ion-color-primary) !important;
    ion-title{
      color:var(--ion-color-light) !important;
    }
}

ion-back-button{
  margin-left: -15px !important;
}


.avatar-custom{
  width: 38px;
  height: 38px;
  background-color: #0000001a;
  border-radius: 11px;
  ion-button{
    color: var(--ion-color-primary);
    width: 42px;
    /* margin: 0px; */
    margin-left: -2px;
    margin-right: 0px;
  }
} 
.my-custom-avatar{
  margin: 10px;
  width: 80px;
  height: 80px;
  background-color: azure !important;
  --background: azure !important;
  padding: 3px;
  background-image: linear-gradient(to right, green , orange, red,yellow);
  margin-left: 0px;
}

.txt-small{
  font-size: small !important;
}
.txt-large{
  font-size: large !important;
}
.txt-xlarge{
  font-size: x-large !important;
}
.txt-xxlarge{
  font-size: xx-large;
}