.radio-label {
    margin-left: 8px !important;
    font-size: smaller !important;
}
 .guide_line_row{
    border-radius: 5px !important;
    height: 160px !important;
    border: 1px solid antiquewhite !important;
 }
 ion-button {
    --border-radius: 17px !important;
 }
 .input{
   border:none;
   padding:15px 20px;
   border-radius:5px;
   color: black;
   height: 48px;
    background:var(--ion-color-secondary);
 }
 .input-textarea {
   border:none;
//   padding:41px;
  border-radius:5px;
   color: black;
   font-size: 1.4em;
   height: 150px;
   // height: 60px;
 background:rgba(247, 247, 247);
 background:var(--ion-color-secondary);
 }