<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons color="light" size="small" slot="start">
          <ion-menu-button color="light" size="small" menu="m1"></ion-menu-button>
      </ion-buttons>
      <ion-item class='bg-none' lines="none">
          <!-- <ion-icon slot='start' color="primary" name="menu"  routerDirection='backward'></ion-icon> -->
          <ion-title color="light" class="ion-text-center">
           Profile
              <!-- <div class='ion-text-center'>
                  <img class='Logo-img' src="../../../../assets/images/Logo/skill-experts-white-01.svg" alt="" />
              </div> -->
          </ion-title>
          <ion-icon *ngIf="isPermission" color="light" name="create" slot="end" [routerLink]="['/','admin','profile','edit-profile']" routerLinkActive="router-link-active" >
          </ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="isPermission">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment class='my-segment' (ionChange)="changeSegment($event)" value="personalInfo">
          <ion-segment-button value="personalInfo">
              <ion-label>Personal Info</ion-label>
          </ion-segment-button>
          <ion-segment-button value="preferences">
              <ion-label>Preferences</ion-label>
          </ion-segment-button>
      </ion-segment>
      </ion-col>
    </ion-row>

    <!-- Personal Info -->
    <ion-row *ngIf="segmentVelue==='personalInfo'">
      <ion-col>
        <div class="outer-card-div">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="label-div">
                  <ion-label>First Name</ion-label>
                </div>
                <div class="data-div">
                  <ion-label>{{allData.usr_firstname}}</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="label-div">
                  <ion-label>Last Name</ion-label>
                </div>
                <div class="data-div">
                  <ion-label>{{allData.usr_lastname}}</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="label-div">
                  <ion-label>Email</ion-label>
                </div>
                <div class="data-div">
                  <ion-label>{{allData.usr_email}}</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="label-div">
                  <ion-label>Login Name</ion-label>
                </div>
                <div class="data-div">
                  <ion-label>{{allData.usr_username}}</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="label-div">
                  <ion-label>Position/Role</ion-label>
                </div>
                <div class="data-div">
                  <ion-label>{{allData.usr_role}}</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="label-div">
                  <ion-label>BirthDay</ion-label>
                </div>
                <div class="data-div">
                  <ion-label>{{allData.usr_birthday}}</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="label-div">
                  <ion-label>Address</ion-label>
                </div>
                <div class="data-div">
                  <ion-label>{{allData.usr_address}}</ion-label>
                </div>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>
      </ion-col>
    </ion-row>


    <!-- Preferences -->
    <ion-row *ngIf="segmentVelue==='preferences'">
      <ion-col>
        <div class="outer-card-div">

        </div>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>

<ion-content *ngIf="!isPermission">
<ion-item>
  <ion-label>
    Sorry! You Don't Have Enough Permission
  </ion-label>
</ion-item>
</ion-content>
