<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-item class='bg-none' lines='none'>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/','cases','tabs','participated']">
          <ion-icon name="arrow-back" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Case Details</ion-title>
      <ion-buttons slot="end">
        <!-- <ion-button fill="clear" slot="end">
          <ion-icon color="light" name="trash"></ion-icon>
        </ion-button> -->
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]='true'>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment class='my-segment' (ionChange)="segmentChanged($event)" value="basic">
          <ion-segment-button value="basic">
            <ion-label>Detail</ion-label>
          </ion-segment-button>
          <ion-segment-button value="task">
            <ion-label>Task</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="activeSegment == 'basic'">
      <ion-col size='12'>
        <div class="label-div">
          <ion-label>App No</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ basicDetails.app_name }}</ion-label>
        </div>
      </ion-col>

      <ion-col size='12'>
        <div class="label-div">
          <ion-label> Process Name</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ basicDetails.pro_name }}</ion-label>
        </div>
      </ion-col>

      <ion-col size='12'>
        <div class="label-div">
          <ion-label>Creation Date</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ basicDetails.app_create_date }}</ion-label>
        </div>
      </ion-col>

      <ion-col size='12'>
        <div class="label-div">
          <ion-label>User Name</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ basicDetails.app_init_usr_username }}</ion-label>
        </div>
      </ion-col>


      <ion-col size='12'>
        <div class="label-div">
          <ion-label>App Status</ion-label>
        </div>
        <div class="data-div">
          <ion-label>{{ basicDetails.app_status }}</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="activeSegment == 'task'">
      <ion-col>
        <div>
          <ion-list>
            <div *ngFor="let task of currentCaseData; let i = index">
              <p class="ion-text-end date-class">{{ task.delTaskDueDate }}</p>
              <ion-item class="list-item list-bg" lines='none' detail>
                <ion-badge mode="ios" color="primary" slot="end">{{ task.del_thread_status }}</ion-badge>
                <ion-label>
                  <h2>{{ task.usr_name }}</h2>
                  <p> {{task.tas_title }} </p>
                </ion-label>
              </ion-item>
            </div>
            <div *ngIf="!currentCaseData.length">
              No Current task or Case Closed
            </div>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>